################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vc2013/x64/Debug
/vc2013/.vs/MeshSplit/v15/ipch/AutoPCH
/vc2013/.vs/MeshSplit/v15/Browse.VC.opendb
/vc2013/.vs/MeshSplit/v15/Browse.VC.db
/vc2013/.vs/MeshSplit/v15/.suo
/src/voro++-0.4.6/html
/src/voro++-0.4.6/examples
/src/voro++-0.4.6
