################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vc2013/x64/Debug
/vc2013/.vs/MeshSplit/v15/ipch/AutoPCH
/vc2013/.vs/MeshSplit/v15/Browse.VC.opendb
/vc2013/.vs/MeshSplit/v15/Browse.VC.db
/vc2013/.vs/MeshSplit/v15/.suo
/src/voro++-0.4.6/html
/src/voro++-0.4.6/examples
/src/voro++-0.4.6
/vc2013/TestResults
/vc2013/x64
/vc2013/.vs/MeshSplit/v15/ipch
/vc2013/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/vc2013/out/9.obj
/vc2013/out/8.obj
/vc2013/out/7.obj
/vc2013/out/6.obj
/vc2013/out/5.obj
/vc2013/out/4.obj
/vc2013/out/33.obj
/vc2013/out/32.obj
/vc2013/out/31.obj
/vc2013/out/30.obj
/vc2013/out/3.obj
/vc2013/out/29.obj
/vc2013/out/28.obj
/vc2013/out/27.obj
/vc2013/out/26.obj
/vc2013/out/25.obj
/vc2013/out/24.obj
/vc2013/out/23.obj
/vc2013/out/22.obj
/vc2013/out/21.obj
/vc2013/out/20.obj
/vc2013/out/2.obj
/vc2013/out/19.obj
/vc2013/out/18.obj
/vc2013/out/17.obj
/vc2013/out/16.obj
/vc2013/out/15.obj
/vc2013/out/14.obj
/vc2013/out/13.obj
/vc2013/out/12.obj
/vc2013/out/11.obj
/vc2013/out/10.obj
/vc2013/out/1.obj
/vc2013/out/0.obj
